Library/
Logs/
Build/
obj/
Recordings/
*.csproj
.vscode/
Temp/
/.plastic
/.plastic
/.plastic
/.vs
.plastic/plastic.changes
.plastic/plastic.wktree
Packages/manifest.json
Packages/packages-lock.json
ProjectSettings/boot.config
ProjectSettings/ProjectVersion.txt
UserSettings/EditorUserSettings.asset
UserSettings/Layouts/default-2022.dwlt
ProjectSettings/ProjectVersion.txt
UserSettings/Layouts/default-2022.dwlt
Packages/packages-lock.json
Packages/packages-lock.json
ProjectSettings/ProjectVersion.txt
/Library
/Library
